/* в макете указан цвет #000000, хотя визуально выглядит не черным, ставлю в
соответствии с макетом */
.popup__input {
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: black;
  outline: none;
  border: none;
  margin:0 0 48px 0;
  border-bottom: 1px solid #000000;
  padding:0 0 13px 0;
}

.popup__input:first-of-type {
  margin:0 0 30px 0;
}

@media screen and (max-width:528px) {
  .popup__input {
    margin:0 0 45px 0;
  }

}
